/build/
/jcef/release/modules/lib/amd64/libcef.dll
/jcef/build/
/asciidoc/build/
/core/build/
/asciidoc/nbproject/private/
/base/nbproject/private/
/core/nbproject/private/
/jcef/nbproject/private/
/neo4j/build/
/raindrop/build/
/markdown/build/
/youtube/build/
/rss/build/
/utils/build/
/utils/nbproject/private/
/javafx/build/
/dist/
/reference/build/
/github/build/
/facebook/build/
/twitter/build/
/twitter/nbproject/private/
